main {
    background-color: #F2EEED;
    text-align: center;
}
footer {
    height: 20vh;
    background: rgb(49,211,92);
    background: linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(43,199,201,0.5480743322719712) 95%);
   color: white;
   text-align: center;
   
}
nav {
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 2%;
    padding-top: 2%;
}
.logo {
    height: 50px;
}
nav button {
    border-radius: 25px;
    padding-left: 2%;
    padding-right: 2%;
    background: rgb(49,211,92);
    background: linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(43,199,201,0.5480743322719712) 95%);
    border: none;
    color: white;
    cursor: pointer;
}
main {
    height: 100vh;
    background-image: url(./health2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
button {
    border-radius: 25px;
    padding-left: 2%;
    padding-right: 2%;
    background: rgb(49,211,92);
    background: linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(43,199,201,0.5480743322719712) 95%);
    border: none;
    color: white;
    cursor: pointer;
}
